<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="contact-info">
            <h3>Información de Contacto</h3>
            <p>Dirección: 123 Calle Principal</p>
            <p> Ciudad Manizales</p>

            <p>Teléfono: 3017829609</p>
        </div>
        <div class="social-icons-container">
            <h3>Redes Sociales</h3>
            <ul class="social-icons">
                <li><a href="https://www.facebook.com" target="_blank"><img src="./../assets/facebook.png" alt="Facebook"> </a></li>
                <li><a href="https://www.instagram.com" target="_blank"><img src="../../assets/instagram.png" alt="Instagram"> </a></li>
                <li><a href="https://www.linkedin.com/in/andres-felipe-morales-vargas/" target="_blank"><img src="../../assets/linkedin.png" alt="LinkedIn" ></a></li>
                <li><a href="https://api.whatsapp.com/send?phone=573017829609" target="_blank"><img src="../../assets/whatsapp.png" alt="WhatsApp"></a></li>
            </ul>
        </div>
      </div>
      <hr class="separator">
      <div class="footer-text">
        <p>Desarrollado Por Andres Felipe Morales ©</p>
      </div>
    </div>
  </footer>
  
