<!-- Seccion 1 -->
<div class="grid-container-Inical">
    <div class="Seccion">
        <div class="contenido-centrado">
            <h1 class="titulo-llamativo">¡Descubre Flyr!</h1>
            <p class="texto-introduccion">Bienvenido a Flyr, donde la aventura comienza. Descubre destinos emocionantes, vive experiencias únicas y reserva tus vuelos con nosotros. ¡Explora el mundo con Flyr!</p>
            <button class="boton-con-flecha" href="https://flyr.com/">
                Descubre más
                <span class="icono-flecha"></span>
              </button>
        
        </div>
    </div>
</div>

<!-- Seccion 2 -->
<div class="grid-container">
    <div class="seccion1">
        <div class="title">FLYR</div>
        <div class="subtitle">¡Reserva tu vuelo ahora!</div>
        <div class="body-text">
            Flyr te ofrece una experiencia de vuelo única. Descubre destinos emocionantes y vive aventuras inolvidables.
        </div>
        <button class="btn-agendar" routerLink="/vuelos">Agendar Vuelo</button>
    </div>
    <div class="seccion2">
        <img src="../../assets/11.jpg" alt="Imagen 1" class="card-image">
    </div>
    <div class="seccion3">
        <img src="../../assets/12.jpg" alt="Imagen 2" class="card-image">
    </div>
    <div class="seccion4">
        <img src="../../assets/13.jpg" alt="Imagen 3" class="card-image">
    </div>
</div>


